@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.counter__wrapper{
    height: 100vh;
    background: url(https://opengameart.org/sites/default/files/space-tiled%20background-256x256%20by%20alpha%20rats_0.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Righteous', cursive;
}
.counter__header{
    margin-bottom: 20px;
}
.counter__header span{
    color: #fff;
    font-size: 50px;
 }
.counter{
    display: flex;
    align-items: center;
    min-width: 480px;
    justify-content: space-around;
    margin-bottom: 100px;
}
.counter span{
    color: rgb(255, 0, 0);
    font-size: 150px;
    min-width: 200px;
    text-align: center;
}

.counter button{
    background: transparent;
    border-radius: 5px;
    font-size: 80px;
    color: rgb(25, 0, 255);
    cursor: pointer;
    width: 100px;
    font-family: 'Righteous', cursive;
}
.counter button:hover,
.counter__rest button:hover{
    color: rgb(152, 140, 255);
    transition: ease .2s all;
    box-shadow: 2px 2px 10px rgb(88, 88, 88); 
}

.counter__rest button{
    background: transparent;
    border-radius: 5px;
    font-size: 80px;
    color: rgb(25, 0, 255);
    cursor: pointer;
    margin-top: -80px;
    font-family: 'Righteous', cursive;
}
